body{
    background-color: rgb(21, 3, 44);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center; 
}

.containermain{
    width: 50vh;
    height: 60vh;
    background:transparent;
    color: #ffffff;  
    border-radius: 10px; 
    padding: 30px 40px;
    border: 2px solid rgba(225,255 ,255,.2 );
    backdrop-filter: blur(20px);

    
    
}

.containermain h1{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
    
.containermain .inputbox{
   position: relative;
   width: 100vh;
   height:50px;
   margin: 25px ;
   color: #fff;
}

.inputbox input{
width: 19rem;
height: 100%;
background: transparent;
border: 2px solid rgb(240, 0, 48);
border-radius: 50px;
color: #fff;

}  

.inputbox input::placeholder{
 color: #fff;  
 padding: 10px; 
}



.containermain .checkbox{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 40px;
}

.checkbox label input{
    accent-color: #ffffff;
    margin-right: 5px;
}

.checkbox a{
 text-decoration: none;
}

.checkbox a:hover{
text-decoration: underline;
}


.containermain .Login{
    width: 50vh;
    border-radius: 25px;
    height: 3rem;
    border-color: rgb(255, 1, 52);
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(246, 0, 49);
    box-shadow: 0 0 10px rgba(0, 0,0, .2);
    
    
}

.containermain .options{
    font-size: 14.5px;
    text-align: center;
    
}

.options p a {
    text-decoration: none;
   
}

.options p a:hover{
    text-decoration: underline;
}
