body{
    background-color: rgb(21, 3, 44);
    display: flex;
    color: #ababab;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
}

.containermain{
    width: 50vh;
    height: 80vh;
    background-color:  rgba(23, 11, 33, 0.458);
   
    
}

.containermain h1{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
.containermain .inputbox{
   width: 100vh;
   height:50px;
  
   margin: 30px 0;
 

}

.inputbox input{
width: 100%;
height: 100%;
background: transparent;
border: 2px solid rgb(255, 18, 65);
border-radius: 4opx;
 }  


.Login{
    width: 20rem;
    border-radius: 25px;
    height: 3rem;
    border-color: rgb(255, 18, 65);
    

}


/* Style the checkbox */
input[type="checkbox"] {
    margin-right: 5px; /* Add some spacing between the checkbox and label text */
    background-color: rgb(33, 37, 57);
}